body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    background-image: url('pikachu.jpg');
    background-size: cover; /* Ajusta la imagen para cubrir todo el fondo */
    background-position: center; /* Centra la imagen en el fondo */
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #ffca00;
    margin: 0;
    padding: 0;
}

h2 {
    color: #000000;
}

#jugar {
    background-color: #4caf50; /* Verde */
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

#jugar:hover {
    background-color: #45a049; /* Verde más oscuro al pasar el mouse */
}