.inputs {
    display: flex;
    flex-direction: column;
    width: 200px;
    color: light;
}
.botones {
    margin-top: 20px;
}
button {
    background: gold;
    width: 150px;
    margin-top: 5px;
}
html{
    background: slategray;
}
h1{
    color: gold;
}